openapi: 3.0.1
info:
  title: ColorTokens Core API
  description: "API for managing lifecycle of core micro-segmentation resources (tags,\
    \ assets & groups)"
  contact: {}
  version: "202202"
servers:
- url: https://ng.colortokens.com
  description: US Region (IAD)
  x-speakeasy-server-id: "iad"
- url: https://bom.colortokens.com
  description: India Region (BOM)
  x-speakeasy-server-id: "bom"
- url: https://fra.colortokens.com
  description: European Region (FRA)
  x-speakeasy-server-id: "fra"
- url: https://syd.colortokens.com
  description: Australia Region (SYD)
  x-speakeasy-server-id: "syd"
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500        # 500 milliseconds
    maxInterval: 60000          # 60 seconds
    maxElapsedTime: 3600000     # 5 minutes
    exponent: 1.5
  statusCodes:
    - 5XX
  retryConnectionErrors: true
paths:
  /api/aggregate:
    post:
      tags:
      - assets
      summary: Returns assets matching criteria.
      description: Returns list of matching assets identified by criteria else all
        assets.
      operationId: Query
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PORT | LIST_PATH | LIST_ASSET | LIST_NAMED_NETWORK | LIST_ALERT
      x-codegen-request-body-name: search
  /api/assets:
    delete:
      tags:
      - assets
      summary: Deletes Assets
      description: Deletes Assets using its each asset identifier and any corresponding
        references are cleaned up too.
      operationId: BulkDeleteAssets
      requestBody:
        description: AssetID List
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteAssetsInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: DELETE_ASSET
        permissionScope:
        - AGENT
        - ADMIN
      x-codegen-request-body-name: search
  /api/assets/:assetId/firewallchanges/openports:
    post:
      tags:
      - openports
      summary: Retrieves ports that need to be pushed to firewall.
      description: Returns list of ports with review status changed since last push
        to firewall.
      operationId: ListPortsWithChangedReview
      requestBody:
        description: search criteria for filtering open ports
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenPorts'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PORT
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/:assetId/firewalllogs:
    post:
      tags:
      - paths
      summary: Retrieves paths of asset tainted before firewalllast log reported observed
        by monitoring.
      description: Returns list of Paths representing connections to / from the specified
        assets.
      operationId: ListPathsWithFirewallLogsReported
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paths'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PATH
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/{assetId}/tags:
    get:
      tags:
      - tags
      summary: "Lists all tags of an asset, filtering results by specified filters\
        \ if provided."
      description: Returns list of matching tags of an asset identified from filters
        else all tags.
      operationId: ListAssetTags
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: name search using equality
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: value
        in: query
        description: value search using equality
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sortField
        in: query
        description: field name to use for sorting.
        schema:
          type: string
          enum:
          - name
          - value
      - name: sortOrder
        in: query
        description: Either ascending or descending ordering for the specified sortField
        schema:
          type: string
          enum:
          - ascending
          - descending
      - name: limit
        in: query
        description: Number of items to return per page if number of matches found
          exceeds this then pagination will be required to access all results
        schema:
          type: integer
      - name: offset
        in: query
        description: Starting position in results
        schema:
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tags'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_TAG
        permissionScope:
        - ADMIN
        - USER
  /api/assets/{assetId}:
    get:
      tags:
      - assets
      summary: Fetches a Asset by its identifier.
      description: Retrieves Asset by identifier if match found. If no match found
        for identifier empty response returned.
      operationId: GetAsset
      x-speakeasy-entity-operation: ["Asset#create", "Asset#read"]
      parameters:
      - name: assetId
        x-speakeasy-match: id
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: READ_ASSET
        permissionScope:
        - AGENT
        - ADMIN
        - USER
  /api/v2/assets/{assetId}:
    put:
      tags:
      - assets
      summary: Update a Asset by its identifier.
      description: Update Asset by identifier if match found. If no match found
        for identifier empty response returned.
      operationId: UpdateAsset
      x-speakeasy-entity-operation: Asset#update
      requestBody:
        description: asset definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetDetails'
        required: true
      parameters:
      - name: assetId
        x-speakeasy-match: id
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET
        permissionScope:
        - AGENT
        - ADMIN
        - USER
  /api/assets/{assetId}/annotations:
    put:
      tags:
      - assets
      summary: Annotate an existing Asset by its identifier
      description: Annotates an existing Asset by its identifier if located otherwise
        results in a no-op. Annotatable fields include coreTags and businessvalue.
      operationId: AnnotateAsset
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: asset annotation details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetAnnotationDetails'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetAnnotationDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: assetannotations
  /api/assets/{assetid}/firewallchanges/paths:
    post:
      tags:
      - paths
      summary: Retrieves paths where candidate state is out of synch with committed
        state.
      description: Returns list of paths with review status changed since last push
        to firewall.
      operationId: ListPathsWithChangedReview
      parameters:
      - name: assetid
        in: path
        description: the asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paths'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PORT
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/{assetId}/firewallrules:
    get:
      tags:
      - assets
      summary: Firewall state file listing endpoint
      description: Returns list of files containing state of firewall at given point
        in time if any uploaded by the agentId specified. If assetId is invalid endpoint
        will fail with 404 not found.
      operationId: ListFirewallRulesSnapshots
      parameters:
      - name: assetId
        in: path
        description: assetId to list firewall state files for
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileList'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: READ_FIREWALL_LOG
        permissionScope:
        - ADMIN
        - USER
    post:
      tags:
      - assets
      summary: Upload firewall-rules data
      description: Upload firewall-rules data
      operationId: UploadFirewallRules
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: firewalllogs data payload
        content:
          application/json:
            schema:
              type: object
        required: false
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: CREATE_FIREWALL_RULES
        permissionScope:
        - AGENT
      x-codegen-request-body-name: payload
  /api/assets/{assetId}/firewallrules/{objectname}:
    get:
      tags:
      - assets
      summary: Download firewall state log file
      description: Returns file content for specified file name.
      operationId: GetFirewallRules
      parameters:
      - name: assetId
        in: path
        description: assetId to list log files for
        required: true
        schema:
          type: string
      - name: objectname
        in: path
        description: name of the log file to download
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content: 
            application/octet-stream:
              schema:
                title: bytes
                type: string
                format: binary
        "400":
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: READ_FIREWALL_LOG
        permissionScope:
        - ADMIN
        - USER
  /api/assets/{assetId}/securitypatches:
    post:
      tags:
      - assets
      summary: Lists all security patch data for given assetid
      description: Returns Security Patch Data for given assetid
      operationId: ListSecurityPatches
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: security patches request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityPatchSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPatchesResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_SECURITY_PATCHES
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: payload
  /api/assets/{assetId}/synchronize:
    put:
      tags:
      - assets
      summary: Synchronizes an assets zero-trust candidate config to commited config
        and triggers policy delivery to firewall if applicable.
      description: Synchronizes an assets zero-trust candidate config to commited
        config and triggers policy delivery to firewall if applicable.
      operationId: SynchronizeAssetZeroTrust
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: input for synchronization
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetSynchronization'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET_ZEROTRUST
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
  /api/assets/{assetId}/tags/{tagId}:
    get:
      tags:
      - tags
      summary: Fetches a Tag by its identifier that belongs to an asset
      description: Retrieves Tag by identifier belongs to an asset if match found.
        If no match found for identifier empty response returned.
      operationId: GetAssetTag
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      - name: tagId
        in: path
        description: Tag ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: READ_TAG
        permissionScope:
        - ADMIN
        - USER
  /api/assets/{assetId}/vulnerabilities:
    post:
      tags:
      - assets
      summary: "Lists CVEs with CVE data (severity, exploitURL) for given product,\
        \ vendor and version sorted by severity if specified"
      description: Returns CVE Data for given package info
      operationId: ListVulnerabilities
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: vulnerabilities request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VulnerabilitiesRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVEDataResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_VULNERABILITIES
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: payload
  /api/assets/{assetId}/vulnerablepackages:
    post:
      tags:
      - assets
      summary: "Lists vulnerable software packages with corresponding CVE counts such\
        \ as highest severity, sorted by the counts if specified"
      description: Returns vulnerable software package data with corresponding CVE
        counts
      operationId: ListVulnerablePackages
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: vulnerable packages request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginationConfig'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerablePackagesResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_VULNERABLE_PACKAGES
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: payload
  /api/assets/{assetId}/zerotrust:
    put:
      tags:
      - assets
      summary: Marks an asset as zero-trust enabled and triggers policy delivery to
        firewall.
      description: If in disabled state otherwise any path approval's or disapproval's
        will trigger automatic updates to firewall if asset is already marked as zero-trust
        enabled. If already enabled then results in a no-op and 304 not modified is
        returned.
      operationId: ConfigureZeroTrust
      parameters:
      - name: assetId
        in: path
        description: Asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: To State
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetStateTransitionInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET_ZEROTRUST
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: toState
  /api/assets/{assetid}/namednetworks/{namednetworkid}:
    put:
      tags:
      - namednetworks
      summary: Applies the namednetwork to the asset
      description: Applies the namednetwork to the asset
      operationId: ApplyNamedNetwork
      parameters:
      - name: namednetworkid
        in: path
        description: the namednetwork ID
        required: true
        schema:
          type: string
      - name: assetid
        in: path
        description: the asset ID to apply the namednetwork to
        required: true
        schema:
          type: string
      requestBody:
        description: namednetwork input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedNetworkInput'
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_NAMED_NETWORK & UPDATE_ASSET
      x-codegen-request-body-name: input
    delete:
      tags:
      - namednetworks
      summary: Reverts a namednetwork from an asset
      description: Reverts a namednetwork from an asset by un-applying the template
      operationId: RevertNamedNetwork
      parameters:
      - name: namednetworkid
        in: path
        description: the namednetwork ID
        required: true
        schema:
          type: string
      - name: assetid
        in: path
        description: the asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: namednetwork input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NamedNetworkInput'
        required: true
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content: {}
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_NAMED_NETWORK & UPDATE_ASSET
      x-codegen-request-body-name: input
  /api/assets/{assetid}/templates/{templateid}:
    put:
      tags:
      - templates
      summary: Applies the template to the asset
      description: Applies the template to the asset
      operationId: ApplyTemplate
      parameters:
      - name: templateid
        in: path
        description: the template ID
        required: true
        schema:
          type: string
      - name: assetid
        in: path
        description: the asset ID to apply the template to
        required: true
        schema:
          type: string
      requestBody:
        description: template input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_ASSET & UPDATE_TEMPLATE
      x-codegen-request-body-name: input
    delete:
      tags:
      - templates
      summary: Reverts a template from an asset
      description: Reverts a template from an asset by un-applying the template
      operationId: RevertTemplate
      parameters:
      - name: templateid
        in: path
        description: the template ID
        required: true
        schema:
          type: string
      - name: assetid
        in: path
        description: the asset ID
        required: true
        schema:
          type: string
      requestBody:
        description: template input
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_ASSET & UPDATE_TEMPLATE
      x-codegen-request-body-name: input
  /api/assets/actions/search:
    post:
      tags:
      - assets
      summary: Returns assets matching criteria.
      description: Returns list of matching assets identified by criteria else all
        assets.
      operationId: ListAssets
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetSearchResults'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/AssetSearchResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      # x-speakeasy-pagination:
      #   type: offsetLimit
      #   inputs:
      #     - name: offset                  # This input refers to the value called `page`
      #       in: requestBody              # In this case, page is an operation parameter (header, query, or path)
      #       type: offset                  # The page parameter will be used as the page-value for pagination, and will be incremented when `next()` is called
      #     - name: limit                 # This input refers to the value called `limit`
      #       in: requestBody              # In this case, limit is an operation parameter (header, query, or path)
      #       type: limit                 # The limit parameter will be used as the limit-value for pagination
      #   outputs:
      #     results: $.items             
      x-permission:
        permission: LIST_ASSET
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/annotations:
    put:
      tags:
      - assets
      summary: Annotates all matching assets
      description: Annotates all matching assets. Overwrites any existing values in
        the specified fields if present. Annotatable fields include coreTags and businessvalue.
      operationId: BulkAnnotateAsset
      requestBody:
        description: asset annotation details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAssetAnnotationDetails'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: assetannotations
  /api/assets/bulk:
    post:
      tags:
      - assets
      summary: "Returns assets matching criteria( criteria can contain assetalias,\
        \ assetname, hostname, type, cpuname, osname, application, location, owner,\
        \ environment, role filter attributes)."
      description: Returns list of matching assets identified by criteria else all
        assets.
      operationId: ListBasicAssets
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetSearchResults'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/AssetSearchResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_ASSET
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/identity:
    get:
      tags:
      - assets
      summary: Fetches immutable assetid by its deterministic id.
      description: Fetches immutable assetid by its deterministic id if match found.
      operationId: GetAssetIdentity
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetIdInfo'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: READ_ASSET
        permissionScope:
        - AGENT
        - ADMIN
        - USER
  /api/assets/namednetworks:
    put:
      tags:
      - namednetworks
      summary: Applies namednetwork to any matching assets.
      description: For any paths that match namednetwork content paths will be coalesced.
        If multiple namednetworks match most specific range takes precedence.
      operationId: BulkNamedNetworkApply
      requestBody:
        description: search criteria for filtering assets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyNamedNetworkSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_NAMED_NETWORK & UPDATE_ASSET
      x-codegen-request-body-name: search
    delete:
      tags:
      - namednetworks
      summary: Un-applies namednetwork from any matching assets.
      description: For any paths referencing the namednetwork will be deleted.
      operationId: BulkNamedNetworkUnApply
      requestBody:
        description: search criteria for filtering assets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyNamedNetworkSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_NAMED_NETWORK & UPDATE_ASSET
      x-codegen-request-body-name: search
  /api/assets/synchronize:
    put:
      tags:
      - assets
      summary: Synchronizes matching assets zero-trust candidate config to commited
        config and triggers policy delivery to firewall if applicable.
      description: Synchronizes matching assets zero-trust candidate config to commited
        config and triggers policy delivery to firewall if applicable.
      operationId: BulkSynchronizeAssetZeroTrust
      requestBody:
        description: search criteria for filtering assets and asset synchronization
          scope
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetSynchronizationSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET_ZEROTRUST
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/assets/templates:
    put:
      tags:
      - templates
      summary: Applies template to any matching assets.
      description: For any at-rest paths & ports that match template criteria review
        status will be updated to match template. If multiple templates match least
        restrictive allow takes precedence. If asset zerotrust enabled then policy
        update will be triggered immediately.
      operationId: BulkTemplateApply
      requestBody:
        description: search criteria for filtering assets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyTemplateSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET & UPDATE_TEMPLATE
      x-codegen-request-body-name: search
    delete:
      tags:
      - templates
      summary: Unapplies template from any matching assets.
      description: For any at-rest paths & ports that match template criteria review
        status will be updated to match any remaing assigned templates or unreviewed.
        If multiple templates match least restrictive allow takes precedence
      operationId: BulkTemplateUnApply
      requestBody:
        description: search criteria for filtering assets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyTemplateSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET & UPDATE_TEMPLATE
      x-codegen-request-body-name: search
  /api/assets/zerotrust:
    put:
      tags:
      - assets
      summary: Marks an asset as zero-trust enabled and triggers policy delivery to
        firewall.
      description: If in disabled state otherwise any path approval's or disapproval's
        will trigger automatic updates to firewall if asset is already marked as zero-trust
        enabled. If already enabled then results in a no-op and 304 not modified is
        returned.
      operationId: BulkConfigureZeroTrust
      requestBody:
        description: search criteria for filtering assets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetStateTransitionSearchInput'
        required: true
      responses:
        "202":
          description: Accepted. Async processing in-progress and can be tracked using
            value in header 'x-ct-workrequest-id'
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: string
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_ASSET_ZEROTRUST
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/events:
    post:
      tags:
      - events
      summary: Returns events/audit logs matching criteria.
      description: Returns list of matching events/auditlogs identified by criteria
        else all events.
      operationId: ListEvents
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearchResults'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/EventSearchResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_EVENT
        permissionScope:
        - ADMIN
      x-codegen-request-body-name: search
  /api/fields:
    get:
      tags:
      - metadata
      summary: Lists fields available for constructing queries.
      description: Returns list of valid fields to construct query.
      operationId: ListFields
      parameters:
      - name: scope
        in: query
        description: scope
        schema:
          type: string
          enum:
          - asset
          - path
          - port
          - agent
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypeaheadSuggestions'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_FIELD
        permissionScope:
        - ADMIN
        - USER
    post:
      tags:
      - metadata
      summary: Allocates a field to one of the field slots provisioned for a tenancy.
      description: Allocates a field to one of the field slots provisioned for a tenancy.
        If the name conflicts with existing pre-defined or custom field will result
        in error. Fields must begin with atleast one alpha character.
      operationId: CreateField
      requestBody:
        description: field details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metadata.ColumnDescriptor'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: CREATE_FIELD
        permissionScope:
        - ADMIN
      x-codegen-request-body-name: field
    delete:
      tags:
      - metadata
      summary: "Deletes a field, clearing all values currently associated with that\
        \ field if present."
      description: "Deletes a field by name, clearing all values currently associated\
        \ with that field if present."
      operationId: DeleteField
      requestBody:
        description: field details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metadata.ColumnDescriptor'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: DELETE_FIELD
        permissionScope:
        - ADMIN
      x-codegen-request-body-name: field
  /api/fields/{fieldId}:
    get:
      tags:
      - metadata
      summary: Retrieves field details by field name.
      description: Returns field configuration for the field name if match found otherwise
        not found error.
      operationId: GetField
      parameters:
      - name: fieldId
        in: path
        description: fieldId
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metadata.ColumnDescriptor'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: READ_FIELD
        permissionScope:
        - ADMIN
        - USER
    put:
      tags:
      - metadata
      summary: Updates a field.
      description: "Updates a field by name, preserving all values currently associated\
        \ with that field if present."
      operationId: UpdateField
      parameters:
      - name: fieldId
        in: path
        description: fieldId
        required: true
        schema:
          type: string
      requestBody:
        description: field details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Field'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metadata.ColumnDescriptor'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_FIELD
        permissionScope:
        - ADMIN
      x-codegen-request-body-name: field
  /api/namednetwork/{namedNetworkId}:
    put:
      tags:
      - namednetworks
      summary: Edits the NamedNetwork metadata
      description: Edits the NamedNetwork name and description
      operationId: UpdateNamedNetworkMetadata
      x-speakeasy-entity-operation: NamedNetwork#update
      parameters:
      - name: namedNetworkId
        x-speakeasy-match: id
        in: path
        description: Named Network ID
        required: true
        schema:
          type: string
      requestBody:
        description: named network definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/namednetwork.NamedNetwork'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
  /api/namednetworks:
    post:
      tags:
      - namednetworks
      summary: Creates a NamedNetwork and adds the payload (if present)
      description: Creates a NamedNetwork with the given name and the given payload.
        NamedNetwork name must be unique.
      operationId: CreateNamedNetwork
      x-speakeasy-entity-operation: NamedNetwork#create
      requestBody:
        description: named network definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/namednetwork.NamedNetwork'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/namednetwork.NamedNetwork'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: CREATE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
  /api/namednetworks/{namedNetworkId}:
    get:
      tags:
      - namednetworks
      summary: retrieves the named network by id
      description: retrieves the specific named network by id which is provided as
        a path param
      operationId: GetNamedNetwork
      x-speakeasy-entity-operation: NamedNetwork#read
      parameters:
      - name: namedNetworkId
        x-speakeasy-match: id
        in: path
        description: Named Network ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/namednetwork.NamedNetwork'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: READ_NAMED_NETWORK
        permissionScope:
        - AGENT
        - ADMIN
        - USER
    delete:
      tags:
      - namednetworks
      summary: Deletes a NamedNetwork along with its relevant payload
      description: Removes the NamedNetwork along with its relevant payload.
      operationId: DeleteNamedNetwork
      x-speakeasy-entity-operation: NamedNetwork#delete
      parameters:
      - name: namedNetworkId
        x-speakeasy-match: id
        in: path
        description: Named Network ID
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: DELETE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
  /api/namednetworks/{namedNetworkId}/networkranges:
    put:
      tags:
      - namednetworks
      summary: Adds ipranges to Named Network
      description: Adds the payload (must be non-empty) to the Named Network
      operationId: AddToNamedNetwork
      # x-speakeasy-entity-operation: NamedNetwork#create#2
      parameters:
      - name: namedNetworkId
        # x-speakeasy-match: id
        in: path
        description: the Named Network ID
        required: true
        schema:
          type: string
      requestBody:
        description: named network ranges
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/namednetwork.Range'
        required: true    
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/namednetwork.Range'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
    delete:
      tags:
      - namednetworks
      summary: Removes ipranges from the NamedNetwork
      description: "Removes ipranges, with the corresponding rangeid(s) from the NamedNetwork"
      operationId: DeleteFromNamedNetwork
      # x-speakeasy-entity-operation: NamedNetworkRange#delete
      parameters:
      - name: namedNetworkId
        # x-speakeasy-match: id
        in: path
        description: the NamedNetwork ID
        required: true
        schema:
          type: string
      requestBody:
        description: named network ranges
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/namednetwork.Range'
        required: true       
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request generated by this
                api if it triggers a state change
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/namednetwork.Range'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
  /api/namednetworks/actions/search:
    post:
      tags:
      - namednetworks
      summary: retrieves named networks matching criteria
      description: retrieves named networks matching criteria
      operationId: ListNamedNetworks
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamedNetworks'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/NamedNetworks'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: LIST_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/namednetworks/clone:
    post:
      tags:
      - namednetworks
      summary: Clones a NamedNetwork and adds the payload (if present)
      description: Clones a NamedNetwork with the given name and the given payload.
        NamedNetwork name must be unique.
      operationId: CloneNamedNetwork
      requestBody:
        description: named network definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/namednetwork.CloneNamedNetwork'
        required: true
      responses:
        "201":
          description: Created
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: CREATE_NAMED_NETWORK
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
  /api/namednetworks/hits:
    post:
      tags:
      - namednetworks
      summary: Retrieves namednetwork hits observed by monitoring.
      description: Returns list of namednetwork hits representing connections to /
        from the specified assets.
      operationId: ListNNHits
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NamedNetworkHits'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_NAMED_NETWORK_HITS
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/network-map:
    post:
      tags:
      - assets
      summary: Returns network map matching criteria.
      description: Returns network map matching criteria.
      operationId: NetworkQuery
      requestBody:
        description: search details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkMapSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResults'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PORT | LIST_PATH | LIST_ASSET | LIST_NAMED_NETWORK
      x-codegen-request-body-name: search
  /api/openports:
    post:
      tags:
      - openports
      summary: Retrieves ports observed by monitoring.
      description: Returns list of ports representing listening ports open on the
        specified assets.
      operationId: ListPorts
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search criteria for filtering open ports
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenPorts'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/OpenPorts'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PORT
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/openports/{portId}/approvals:
    put:
      tags:
      - openports
      summary: Marks a single port with toState.
      description: "Marks a single port with toState, configuring how traffic recieved\
        \ by this port in zero-trust mode is handled."
      operationId: ReviewPort
      parameters:
      - name: portId
        in: path
        description: Port ID
        required: true
        schema:
          type: string
      requestBody:
        description: To State
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateTransitionInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_PORT
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: toState
  /api/openports/approvals:
    put:
      tags:
      - openports
      summary: Marks all matching ports with toState.
      description: "Marks all matching ports with toState, configuring how traffic\
        \ recieved by this port in zero-trust mode is handled."
      operationId: BulkReviewPorts
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortStateTransitionSearchInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_PORT
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/paths:
    post:
      tags:
      - paths
      summary: Retrieves paths observed by monitoring.
      description: Returns list of Paths representing connections to / from the specified
        assets.
      operationId: ListPaths
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paths'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/Paths'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            ' text/csv':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PATH
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/paths/{pathId}/approvals:
    put:
      tags:
      - paths
      summary: Marks a single path with toState.
      description: "Marks a single path with toState, configuring how traffic flows\
        \ between the source and destination in zero-trust mode."
      operationId: ReviewPath
      parameters:
      - name: pathId
        in: path
        description: Path ID
        required: true
        schema:
          type: string
      requestBody:
        description: To State
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateTransitionInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "304":
          description: Not Modified
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_PATH
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: toState
  /api/paths/approvals:
    put:
      tags:
      - paths
      summary: Marks all matching paths with toState.
      description: "Marks all matching paths with toState,  configuring how traffic\
        \ flows between the source and destination in zero-trust mode."
      operationId: BulkReviewPaths
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathStateTransitionSearchInput'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_PATH
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: search
  /api/paths/recommendations/namednetwork:
    post:
      tags:
      - paths
      summary: Retrieves paths named network recommendations observed by monitoring.
      description: Returns list of Paths Named Network Recommendations representing
        connections to / from the specified assets.
      operationId: ListPathNamedNetworkRecommendations
      requestBody:
        description: search criteria for filtering paths
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathSearchOnlyInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathsNamedNetworkRecommendations'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_PATH & READ_NAMED_NETWORK
      x-codegen-request-body-name: search
  /api/recommendations:
    post:
      tags:
      - recommendations
      summary: Fetches available recommendations.
      description: Retrieves Asset by identifier if match found. If no match found
        for identifier empty response returned.
      operationId: ListRecommendations
      requestBody:
        description: recommendation filters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationInput'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendations'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: LIST_RECOMMENDATION
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
  /api/v2/tagbasedpolicies:
    post:
      tags:
      - tagbasedpolicies
      summary: Create a new TagBasedPolicy for programming sets of assets
      description: Defines a new TagBasedPolicy for asset set policy authoring. Any
        conflicts will result in 409 conflict error being returned.
      operationId: CreateTagBasedPolicy
      x-speakeasy-entity-operation: Segment#create
      requestBody:
        description: tag based policy details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagBasedPolicy'
        required: true
      responses:
        "202":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagBasedPolicyResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: CREATE_TAGBASEDPOLICY
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: tagbasedpolicy
  /api/v2/tagbasedpolicies/{tagbasedpolicyId}:
    get:
      tags:
      - tagbasedpolicies
      summary: Fetches a TagBasedPolicy by its identifier.
      description: Retrieves TagBasedPolicy by identifier if match found. If no match
        found for identifier empty response returned.
      operationId: GetTagBasedPolicy
      x-speakeasy-entity-operation: Segment#read
      parameters:
      - name: tagbasedpolicyId
        in: path
        x-speakeasy-match: id
        description: Tag ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagBasedPolicyResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: READ_TAGBASEDPOLICY
        permissionScope:
        - ADMIN
        - USER
    put:
      tags:
      - tagbasedpolicies
      summary: Edits the TagBasedPolicy metadata
      description: Edits the TagBasedPolicy name and description
      operationId: UpdateTagBasedPolicyMetadata
      x-speakeasy-entity-operation: Segment#update
      parameters:
      - name: tagbasedpolicyId
        in: path
        x-speakeasy-match: id
        description: TagBasedPolicy ID
        required: true
        schema:
          type: string
      requestBody:
        description: tagbasedpolicy metadata
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagBasedPolicy'
        required: true
      responses:
        "204":
          description: No Content
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - JWT: []
      x-permission:
        permission: UPDATE_TAGBASEDPOLICY
        permissionScope:
        - ADMIN
        - USER
      x-codegen-request-body-name: input
    delete:
      tags:
      - tagbasedpolicies
      summary: Deletes a TagBasedPolicy by its identifier.
      description: Deletes a TagBasedPolicy using its identifier and any corresponding
        references are cleaned up too.
      operationId: DeleteTagBasedPolicy
      x-speakeasy-entity-operation: Segment#delete
      parameters:
      - name: tagbasedpolicyId
        in: path
        x-speakeasy-match: id
        description: Tag Based Policy ID
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagBasedPolicy'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: DELETE_TAGBASEDPOLICY
        permissionScope:
        - ADMIN
        - USER
  /api/tagbasedpolicies/{tagbasedpolicyId}/automation:
    put:
      tags:
      - tagbasedpolicies
      summary: Send Automation Request on all assets matching tag based policy.
      description: Send Automation Request on all assets matching tag based policy.
      operationId: AutomationConfiguration
      x-speakeasy-entity-operation: Segment#update#2
      parameters:
      - name: tagbasedpolicyId
        in: path
        x-speakeasy-match: id
        description: Tag ID
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request applying any changes
                triggered by automation configuration change
              schema:
                type: string
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_POLICY_AUTOMATION
        permissionScope:
        - ADMIN
        - USER
  /api/tagbasedpolicies/{tagbasedpolicyId}/refresh-progressive:
    put:
      tags:
      - tagbasedpolicies
      summary: Refresh current progressive state of tagset.
      description: Refresh current progressive state of tagset.
      operationId: refreshProgressiveConfiguration
      parameters:
      - name: tagbasedpolicyId
        in: path
        description: Tag ID
        required: true
        schema:
          type: string
      responses:
        "202":
          description: Accepted
          headers:
            x-ct-workrequest-id:
              description: Tracking identifier for the work request applying any changes
                triggered by force synchronization of progressive configuration
              schema:
                type: string
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-permission:
        permission: UPDATE_POLICY_PROGRESSIVE_CONFIGURATION
        permissionScope:
        - ADMIN
        - USER
  /api/tagbasedpolicies/actions/search:
    post:
      tags:
      - tagbasedpolicies
      summary: Lists all tagbasedpolicies filtering results by specified filters if
        provided.
      description: Returns list of matching tagbasedpolicies identified from filters
        else all tagbasedpolicies.
      operationId: ListTagBasedPolicies
      parameters:
      - name: download
        in: query
        description: file download
        schema:
          type: string
      requestBody:
        description: search details
[...]
